---
title: Christopher Dale Portfolio
layout: layouts/base.njk
---

<div class="flex flex-col items-center text-md bg-white border-none focus:outline-none [box-shadow:rgba(0,_0,_0,_0.3)_0px_1px_4px_-1px] rounded min-w-[340px] overflow-hidden text-[#666]">
    <div class="bg-[#157] flex align-center justify-center items-center text-center w-full relative">
        <a href="/" class="text-white absolute left-4 block p-2">
            {% include "back-button.njk" %}
        </a>
        <h1 class="pacifico text-white text-2xl sm:text-4xl p-4">ASOS</h1>
    </div>
    <div class="p-8 text-[#333] ">
        <section class="flex justify-center">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 pb-8">
                <div>
                    <img src="/assets/asos/old.jpg" alt="Asos Old Website" class="rounded">
                    <p class='text-xs text-italic text-[#666] text-center pt-2 italic'>Before</p>
                </div>
                <div>
                    <img src="/assets/asos/main.jpg" alt="Asos Rebuilt Website" class="rounded">
                    <p class='text-xs text-italic text-[#666] text-center pt-2 italic'>After</p>
                </div>
            </div>
        </section>
        <section class="flex justify-center">
        <div class="max-w-[560px]">
            <h2 class="font-bold pb-2 text-lg">Technologies</h2>
            <div class="px-4">
                <ul class="columns-2 sm:columns-3 gap-4 list-disc text-sm pb-4 pl-4">
                    <li>Javascript</li>
                    <li>NodeJS</li>
                    <li>React</li>
                    <li>Redux</li>
                    <li>Styled Components</li>
                    <li>Jest + Enzyme</li>
                    <li>LightHouse</li>
                    <li>CircleCI</li>
                    <li>Github</li>
                    <li>Figma</li>
                    <li>Jira</li>
                    <li>Confluence</li>
                    <li>Responsive Design</li>
                    
                </ul>
            </div>
            <h2 class="font-bold pb-2 text-lg">Experience</h2>
            <div class="px-4 text-sm">
                <ul class="list-disc pl-4">
                    <li>Collaborated within a cross-functional Agile team to replatform the ASOS website following a microservices architecture to deliver significant performance and scalability improvements for its 20 million active users</li>
                    <li>Followed TDD practices to deliver robust, reusable and scalable unit-tested code</li>
                    <li>Actively contributed to Agile ceremonies and team technical discussions</li>
                    <li>Upheld team coding standards and codebase maintainability through regular code reviews</li>
                    <li>Mentored junior members of the team through regular pair programming sessions</li>
                </ul>
            </div>
        </section>
    </div>
</div>
