---
title: Christopher Dale Portfolio
layout: layouts/base.njk
---

<div class="flex flex-col items-center text-md bg-white border-none focus:outline-none [box-shadow:rgba(0,_0,_0,_0.3)_0px_1px_4px_-1px] rounded min-w-[340px] overflow-hidden">
    <div class="bg-[#157] flex align-center justify-center items-center text-center w-full relative">
        <a href="/" class="text-white absolute left-4 block p-2">
            {% include "back-button.njk" %}
        </a>
        <h1 class="pacifico text-white text-2xl sm:text-4xl p-4">First Utility</h1>
    </div>
    <div class="p-8 text-[#333]">
        <section class="flex justify-center">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 pb-8">
                <div>
                    <img src="/assets/first-utility/old.jpg" alt="First Utility Old Website" class="rounded">
                    <p class='text-xs text-italic text-[#666] text-center pt-2 italic'>Before</p>
                </div>
                <div>
                    <img src="/assets/first-utility/main.jpg" alt="First Utility Rebuilt Website" class="rounded">
                    <p class='text-xs text-italic text-[#666] text-center pt-2 italic'>After</p>
                </div>
            </div>
        </section>
        <section class="flex justify-center">
        <div class="max-w-[560px]">
            <h2 class="font-bold pb-2 text-lg">Technologies</h2>
            <div class="px-4">
                <ul class="columns-2 sm:columns-3 gap-4 list-disc text-sm pb-4 pl-4">
                    <li>Javascript</li>
                    <li>jQuery</li>
                    <li>BackboneJS</li>
                    <li>Highcharts</li>
                    <li>D3</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                    <li>Github</li>
                    <li>Responsive Design</li>
                </ul>
            </div>
            <h2 class="font-bold pb-2 text-lg">Experience</h2>
            <p class="text-sm">Worked as part of a small Agile team to rebuild the First Utility website using modern technologies with responsive design, including taking ownership for the development of interactive data visualisation charts, contributing to the project winning the 2014 Utilities Website of the Year Award</p>
        </section>
    </div>
</div>
