---
title: Christopher Dale Portfolio
layout: layouts/base.njk
---

<div class="flex flex-col items-center text-md bg-white border-none focus:outline-none [box-shadow:rgba(0,_0,_0,_0.3)_0px_1px_4px_-1px] rounded min-w-[340px] overflow-hidden text-[#666]">
    <div class="bg-[#157] flex align-center justify-center items-center text-center w-full relative">
        <h1 class="pacifico text-white text-2xl sm:text-4xl p-4">Christopher Dale</h1>
    </div>
    <div class="p-8 flex justify-center text-[#333]">
        <div class="max-w-[560px]">
            <section>
            <h2 class='font-bold pb-2 font-lg'>Profile</h2>
            <div class="px-4">
                <p class='text-sm  text-justify'>
                An accomplished full-stack developer (front-end focused) with 8+ years’ experience and proven success working collaboratively to deliver high-performance web applications using Javascript and React. Passionate about solving complex problems through clean, scalable code and continuously adapting to emerging technologies.
                </p>
            </div> 
            </section>
            <section>
                <h2 class='font-bold pt-4 pb-2 font-lg'>Core Skills</h2>
                <div class="px-4">
                <ul class="space-y-2 columns-1 sm:columns-2 gap-4 list-disc text-sm pb-4 pl-4">
                    <li>Javascript </li>
                    <li>NodeJS </li>
                    <li>React</li>
                    <li>NextJS</li>
                    <li>Jotai, Redux</li>
                    <li>CSS (Tailwind)</li>
                    <li>Unit testing (Vitest, RTL)</li>
                </ul>
                </div>
                <h2 class='font-bold pt-4 pb-2 font-lg'>Additional Skills</h2>
                <div class="px-4">
                <ul class="space-y-2 columns-1 sm:columns-2 gap-4 list-disc text-sm pb-4 pl-4">
                    <li>Accessibility (WCAG 2.1)</li>
                    <li>SEO</li>
                    <li>Responsive design</li>
                    <li>Semantic HTML</li>
                    <li>Data Visualisation (Highcharts, D3)</li>
                    <li>WebGL (DeckGL, PixiJS)</li>
                    <li>Headless CMS’s (Contentful)</li>
                    <li>RESTful API's</li>
                    <li>CDN’s (Cloudinary)</li>
                    <li>Google Cloud Platform (Maps API, Gemini AI API)</li>
                    <li>Distributed Caching (Redis)</li>
                    <li>PostgreSQL (Supabase)</li>
                    <li>GraphQL</li>
                    <li>ORM's (Drizzle)</li>
                    <li>IndexedDB (DexieJS)</li>
                    <li>Service Workers (Serwist)</li>
                    <li>Storybook</li>
                    <li>Chromatic</li>
                    <li>CI/CD (CircleCI, Github Actions)</li>
                    <li>Cloud Deployment (Netlify, Vercel)</li>
                    <li>Version Control (Git, Github)</li>
                    <li>Agile Workflows (Scrum, Kanban)</li>
                    <li>Team Collaboration Tools (Jira, Github, Slack, Confluence)</li>
                    <li>Design Tools (Figma, Canva, Photoshop)</li>
                </ul>
                </div>
            </section>
            <section>
            <h2 class='font-bold pt-4 pb-4 font-lg text-[#333]'>Projects</h2>
            <div class="px-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
                <a href="/spot-hub"  class="block rounded [box-shadow:rgba(0,_0,_0,_0.7)_0px_1px_4px_-1px] overflow-hidden p-4 hover:opacity-70">
                    <img src="/assets/spot-hub/main-cropped.jpg" alt="Spot Hub" class="rounded">
                    <p class='text-xs text-italic text-[#666] text-center pt-2 italic'>Spot Hub | 2025</p>
                </a>
                <a href="/shelter"  class="block rounded [box-shadow:rgba(0,_0,_0,_0.7)_0px_1px_4px_-1px] overflow-hidden p-4 hover:opacity-70">
                    <img src="/assets/shelter/main.jpg" alt="Shelter" class="rounded">
                    <p class='text-xs text-italic text-[#666] text-center pt-2 italic'>Shelter | 2022</p>
                </a>
                <a href="/asos"  class="block rounded [box-shadow:rgba(0,_0,_0,_0.7)_0px_1px_4px_-1px] overflow-hidden p-4 hover:opacity-70">
                    <img src="/assets/asos/main.jpg" alt="Asos" class="rounded">
                    <p class='text-xs text-italic text-[#666] text-center pt-2 italic'>Asos | 2019</p>
                </a>
                <a href="/vodafone"  class="block rounded [box-shadow:rgba(0,_0,_0,_0.7)_0px_1px_4px_-1px] overflow-hidden p-4 hover:opacity-70">
                    <img src="/assets/ready-business/main.jpg" alt="Ready Business" class="rounded">
                    <p class='text-xs text-italic text-[#666] text-center pt-2 italic'>Vodafone: Ready Business | 2016</p>
                </a>
                <a href="/first-utility"  class="block rounded [box-shadow:rgba(0,_0,_0,_0.7)_0px_1px_4px_-1px] overflow-hidden p-4 hover:opacity-70">
                    <img src="/assets/first-utility/main.jpg" alt="First Utility" class="rounded">
                    <p class='text-xs text-italic text-[#666] text-center pt-2 italic'>First Utility | 2014</p>
                </a>
                <a href="/printsnphotos"  class="block rounded [box-shadow:rgba(0,_0,_0,_0.7)_0px_1px_4px_-1px] overflow-hidden p-4 hover:opacity-70">
                    <img src="/assets/printsnphotos/main.jpg" alt="Prints 'n' Photos" class="rounded">
                    <p class='text-xs text-italic text-[#666] text-center pt-2 italic'>Prints'n'photos | 2011</p>
                </a>
            </div>
            </section>
            <section>
            <h2 class='font-bold py-8 font-lg'>CV</h2>
            <div class="px-4">
                <a href="/assets/Christopher Dale CV 2025.pdf"  class="block rounded [box-shadow:rgba(0,_0,_0,_0.7)_0px_1px_4px_-1px] overflow-hidden p-2 flex justify-center items-center hover:opacity-70">
                    <img src="/assets/pdf-icon.svg" alt="Christopher Dale CV" class="h-[30px] sm:h-[40px] text-[#333] m-4"/>
                    <p class="text-[#333] text-sm sm:text-lg">Christopher Dale CV 2025.pdf</p>
                </a>
            </div>
            </section>
        </div>
    </div>

</div>
