---
title: Christopher Dale Portfolio
layout: layouts/base.njk
---

<div class="flex flex-col items-center text-md bg-white border-none focus:outline-none [box-shadow:rgba(0,_0,_0,_0.3)_0px_1px_4px_-1px] rounded min-w-[340px] overflow-hidden">
    <div class="bg-[#157] flex align-center justify-center items-center text-center w-full relative">
        <a href="/" class="text-white absolute left-4 block p-2">
            {% include "back-button.njk" %}
        </a>
        <h1 class="pacifico text-white text-2xl sm:text-4xl p-4">Prints 'n' Photos</h1>
    </div>
    <div class="p-8 flex justify-center text-[#333]">
        <section>
            <div class="max-w-[560px] text-sm">
                <img src="/assets/printsnphotos/main.jpg" alt="Prints n Photos Website" class="rounded">
                <p class='text-xs text-italic text-[#666] text-center pt-2 italic pb-4'>Prints n Photos Website</p>
                <p>A gallery website showcasing a private fine art collection, including owner contact information for purchase inquiries.</p>
                <h2 class='font-bold pb-2 pt-4 font-lg'>Technologies</h2>
                <div class="px-4">
                    <ul class="list-disc pl-4 columns-2 md:columns-3 lg:columns-4 gap-4">
                        <li>PHP</li>
                        <li>jQuery</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
                <h2 class='font-bold pt-4 pb-2 font-lg'>Experience</h2>
                    <p>Developed as part of my final year University project, I built the Prints 'n' Photos website for a client, handling all phases of the Web Development Lifecycle, including requirements gathering, UI/UX design, coding, testing, and A/B testing.</p>
            </div>
        </section>
    </div>
</div>
