---
title: Christopher Dale Portfolio
layout: layouts/base.njk
---

<div class="flex flex-col items-center text-md bg-white border-none focus:outline-none [box-shadow:rgba(0,_0,_0,_0.3)_0px_1px_4px_-1px] rounded min-w-[340px] overflow-hidden text-[#333]">
    <div class="bg-[#157] flex align-center justify-center items-center text-center w-full relative">
        <a href="/" class="text-white absolute left-4 block p-2">
            {% include "back-button.njk" %}
        </a>
        <h1 class="pacifico text-white text-2xl sm:text-4xl p-4">Shelter</h1>
    </div>
    <div class="p-8 text-[#333] text-sm">
    <section>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 pb-8">
            <div>
                <img src="/assets/shelter/old.jpg" alt="Shelter" class="rounded">
                <p class='text-xs text-italic text-[#666] text-center pt-2 italic'>Before</p>
            </div>
            <div>
                <img src="/assets/shelter/main.jpg" alt="Shelter" class="rounded">
                <p class='text-xs text-italic text-[#666] text-center pt-2 italic'>After</p>
            </div>
        </div>
    </section>
    <section class="flex justify-center pb-8">
    <div class="max-w-[560px]">
        <h2 class="font-bold pb-2 text-lg">Technologies</h2>
        <div class="px-4">
            <ul class="columns-2 sm:columns-3 gap-4 list-disc text-sm pb-4 pl-4">
                <li>Javascript</li>
                <li>NodeJS</li>
                <li>React</li>
                <li>Gatsby</li>
                <li>Contentful</li>
                <li>GraphQL</li>
                <li>Styled Components</li>
                <li>Semantic HTML</li>
                <li>Responsive Design</li>
                <li>Search Engine Optimisation</li>
                <li>Accessibility Standards</li>
                <li>Axe, Pa11y</li>
                <li>Storybook</li>
                <li>Chromatic</li>
                <li>LightHouse</li>
                <li>Yup</li>
                <li>Jest + Enzyme</li>
                <li>Google Tag Manager</li>
                <li>CircleCI</li>
                <li>Github</li>
                <li>Github Actions</li>
                <li>Figma</li>
                <li>Jira</li>
                <li>Confluence</li>
            </ul>
        </div>
        <h2 class="font-bold pb-2 text-lg">Experience</h2>
        <div class="text-sm">
            <ul class="list-disc pl-4">
            <li>Replatformed Shelter’s website as part of a cross-functional Agile team, delivering significant performance and accessibility improvements to Shelter’s 7 million annual visitors</li>
            <li>
            Owned end-to-end project delivery, writing clean, modular, unit-tested code and contributing directly to the development of a reusable component library in close collaboration with UX and design teams
            </li>
            <li>
            Contributed to team technical discussions, analysed team processes and implemented strategies for improved workflows, including the introduction of an improved code review and code integration process
            </li>
            <li>
            Upheld team coding standards and codebase maintainability through code reviews and documentation
            </li>
            <li>
            Line managing and mentored junior members of the team through regular 1:1s and pair programming
            </li>
            </ul>
            </div>
        </div>
    </section>

</div>

</div>
